*~
*.orig

.cproject
.project
.settings
.directory
.vscode
.DS_Store
.idea
.env
.venv

CMakeUserPresets.json
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

build/*
build_arm/*
build_intel/*
cmake-build*
Build/*
buildfile*
Debug
RelWithDebInfo
MinSizeRel
Release
exe/*
output/*
installer/output
installer/output_gui

rtdata/rawtherapee.desktop
rtengine/librtengine.a
rtgui/config.h
rtgui/version.h
rtgui/rawtherapee
rtgui/rawtherapee.exe
install_manifest.txt
AboutThisBuild.txt
clean

*.7z
*.bz
*.bz2
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.xz
*.zip
